.app-container {
  background-color: #f3f3fb;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.task-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
