.create-task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-create-task-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0;
}
.form-create-task-row label {
  margin-bottom: 5px;
  font-size: 15px;
}
.input-primary {
  border: 1px solid #c6c5c5;
  border-radius: 12px;
  padding: 10px 15px;
}
.btn-primaty {
  background-color: #3754db;
  padding: 19px 74px;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 12px;
  border: none;
  outline: none;
  width: 100%;
}
.create-task-btn {
  margin-top: 10px;
}
